.dashboard {
    display: flex;
}

.dashboard-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 80px; /* Add space equal to the header height */
}

/* Optional: make the header sticky */
.header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top */
    background-color: #fff;
    padding: 20px 0;
}

.dashboard-content > .header,
.dashboard-content > .dashboard-card {
    margin-left: 0; /* Align Header and DashboardCard to the left */
}

/* Centered Container for Line Chart and Stock Table */
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.line-chart-container,
.stock-table-container {
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    box-sizing: border-box;
}