.navbar {
    display: flex;
    justify-content: center;
    background-color: #accee9;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.navbar a {
    color: #000000;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    border-radius: 5px; /* Slightly rounded corners */
    
}

.navbar a:hover {
    background-color: #91b5e7;
    color: #003049;
}