.signup-form {
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-logo {
    width: 120px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin: 15px 0;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.dob-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.dob-container label {
    font-size: 14px;
    margin-right: 10px;
}

.dob-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.terms {
    font-size: 12px;
    color: #555;
    margin-top: 20px;
}

.terms a {
    color: #28a745;
}

button {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

.login-link {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.login-link a {
    color: #007bff;
}

.top-links {
    position: absolute;
    top: 20px;
    right: 30px;
}

.top-links a {
    color: #28a745;
    margin-left: 15px;
    font-size: 14px;
    text-decoration: none;
}

.top-links a:hover {
    text-decoration: underline;
}
.success-message {
    color: green;
    margin-top: 10px;
}

.gender-container {
    margin-top: 20px;
    text-align: left;
}

.gender-options {
    display: flex;
    justify-content: space-around; /* Space the options evenly */
    margin-top: 10px;
}

.gender-options label {
    font-size: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.error-message {
    color: red;
    margin-top: 10px;
}